<h2 class="screen-align">Empdetailssave</h2>
<div id="id8r" class="">
    <div id="template-iwar" class="gjs-row">
        <div id="template-i3ef" class="gjs-cell">
            <input type="text" id="template-ifjac" placeholder="enter empid " required="true"
            [(ngModel)]="entity2.empid" [ngModelOptions]="{standalone: true}" ngDefaultControl
            class="form-control " />
        </div>
        <div id="template-ilrh" class="gjs-cell">
            <input type="text" id="template-i0rk" placeholder="enter name" required="true"
            [(ngModel)]="entity2.empname" [ngModelOptions]="{standalone: true}" ngDefaultControl
            class="form-control " />
        </div>
        <div id="template-i2xo" class="gjs-cell">
            <input type="text" id="template-izkgg" placeholder="enter age" required="true"
            [(ngModel)]="entity2.empage" [ngModelOptions]="{standalone: true}" ngDefaultControl
            class="form-control " />
        </div>
    </div>
    <div id="template-iv9z" class="gjs-row">
        <div id="template-i3ma" class="gjs-cell">
            <input type="text" id="template-iy7hi" placeholder="enter status" required="true"
            [(ngModel)]="entity2.empstatus" [ngModelOptions]="{standalone: true}" ngDefaultControl
            class="form-control " />
        </div>
    </div>
    <div type="button" id="template-iy83e" class="btn btn-primary ">save</div>
</div>